:root {
    --green-main: #2F5D3A;
    --green-soft: #8BAF8D;
    --earth-light: #E8DCC2;
    --earth-dark: #A47551;
    --white-soft: #FAFAF7;
}


.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--green-main);
    padding: 12px 0;
    text-align: center;
    border-top: 3px solid var(--earth-dark);
}

.bottom-nav a {
    color: var(--white-soft);
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    text-align: center;
}
 h2, h3 {
    color: var(--green-main);
    font-weight: 600;
}

body {
    background-color: var(--white-soft);
    color: var(--green-main);
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
}

.back-home {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: inline-block;
    background-color: var(--green-soft, #8BAF8D);
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 0;
    transition: 0.3s;
}

.back-home:hover {
    background-color: var(--green-main, #2F5D3A);
}

.top-bar {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--earth-light, #E8DCC2);
}


.search-bar {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--green-soft, #8BAF8D);
    font-size: 16px;
}


.products-layout {
    display: flex;
    gap: 40px;
    padding: 30px;
}


.product-images {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-images img {
    width: 100%;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.product-info {
    width: 60%;
    background: var(--white-soft, #FAFAF7);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.product-info h1 {
    color: var(--green-main, #2F5D3A);
}

.image-strip {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 15px;
    background-color: var(--earth-light, #E8DCC2);
    border-top: 3px solid var(--green-main, #2F5D3A);
    border-bottom: 3px solid var(--green-main, #2F5D3A);
}

.image-strip img {
    width: 350px;
    height: 250px;
    border-radius: 10px;
    flex-shrink: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}



contact-header {
    text-align: center;
    margin-top: 40px;
}

.contact-header h1 {
    color: var(--green-main, #2F5D3A);
    font-size: 32px;
}

.contact-content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: var(--earth-light, #E8DCC2);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 18px;
    line-height: 1.8;
}

.contact-content p {
    margin: 10px 0;
}